@page "/terms"

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Terms</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Terms & Conditions</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page">
    <div class="container">
        <div class="container" style="font-size:14px;">


            This Terms of Service (TOS) agreement is an agreement between SmarterASP.net   ("SmarterASP.net ", "us", "we", "our") and you  ("Customer", "Client", "Member",  "you", "your”, "they"). Use of any SmarterASP.net services constitutes  acceptance and agreement to this Terms of Service (TOS) agreement as  well as the SmarterASP.net <a href="https://www.smarterasp.net/aup" rel="noopener nofollow">Acceptable Use Policy (AUP)</a> and <a href="https://www.smarterasp.net/privacy" rel="noopener nofollow">Privacy Policy</a>. Our <a href="https://www.smarterasp.net/dpa" rel="noopener nofollow">Data Processing Agreement(DPA)</a> under the European General Data Protection Regulation (GDPR) also forms part of the TOS. <br>
            <br>
            SmarterASP.net  reserves the right to terminate this TOS for any reason or no  reason. SmarterASP.net  treserves the right to refuse service to anyone. <br>
            <br>
            <b>Service</b><br>
            The features and details of the Services governed by this TOS are  described on our website at "SmarterASP.net ". Throughout this TOS, the  aspects of the Services provided to you by SmarterASP.net , are referred to  together as the "Service." Certain parts of the Service may be provided  by third party vendors. These third parties may have reserved the right  to make changes, including material changes, to their products and  incorporated into our Service. If a third party makes a change to its  products, you may not terminate this TOS based on such a change, even if  it materially affects the Service. <br>
            <br>
            <b>Contact Information</b><br>
            As part of providing you with the Service, you are required to provide  us with accurate and up-to-date information when setting up your  account, and during the course of our business relationship. We will  communicate with you by e-mail about the Service from time to time. You  agree to provide us with an e-mail address that is active and monitored  on a daily basis. SmarterASP.net has no responsibility, or liability, for  interruptions in the Services that we provide, or damages of any sort,  based on communications that are misdirected as a result of your failure  to provide us with valid contact information. The contact in our  records is considered by us to be our customer and we will communicate  with this contact as the account administrator. However, if there is any  dispute, we will consider the person/entity who paid for the latest  billing period of the account to be the owner of the account. If you are  reselling the Service, or are an End User of a reseller, it is your  obligation to ensure that our records accurately reflect the correct  ownership and control of the Service. <br>
            <br>
            <b>Service Changes</b><br>
            SmarterASP.net  reserves the right to amend its service offerings and add,  delete, suspend, or modify the Service and Service fees at any time at  its sole discretion, and reserves the right to determine whether and  when any such changes apply to both existing and future customers. <br>
            <br>
            <b>Service Fees</b><br>
            The date of the initial online order for SmarterASP.net Services, will set the  Account monthly anniversary date for all future billings. Some  adjustments of the anniversary date will be performed should the online  order date occur on the 29th, 30th, or 31st of the month. Services are  provided on a prepayment basis and fees for services will be billed on  the anniversary date of the billing cycle of the Service. All fees are  fully earned when due and non-refundable when paid. Customer agrees that SmarterASP.net will charge all Service Fees to the credit card supplied by  Customer. All payments shall be made in US Currency. The Service Fees do  not include any applicable sales, use, revenue, excise or other taxes  imposed by any taxing authority with respect to the Services or any  software provided hereunder. If applicable, all taxes will be paid by  the Customer. <br>
            <br>
            <b>60 Day Money Back Guarantee</b><br>
            If Customer terminates this Agreement within 60 calendar days of the  order's initial sign up date and they request immediate termination,  they will receive a full refund of the annual hosting Service Fees paid when setting up the account. Setup fees, new domain  name registration fees, and SSL certificate fees are not refundable. If Customer requests termination at the end of the first 60 days, then there will be a pro-rated refund.  Payments that are over 6 months old are non-refundable.  This Money Back Guarantee does not apply to the one-month purchases, 3-months purchases, 6-months purchases, add-on purchases, renewals, plan/period changes. Customers can submit account cancellation requests through the control panel site manager and select immediate termination or termination at the end of the first 60 days. <br>
            <br>
            <b>Multiple Sites</b><br>
            SmarterASP.net  Services allow customers to order and manage multiple Sites  within their Control Panel. For each Site, the customer can select a  quarterly term or annual term.The date of the initial online order for  SmarterASP.net Services which setup the Control Panel, will set an Account  anniversary monthly date for all future billings of all Sites managed in  the control panel. Any new Site ordered whether quarterly or annual  will be synced to the day of the monthly anniversary date. <br>
            <br>
            <b>One Time Fees</b><br>
            Any one time fees are due and payable at the time they are incurred and are non-refundable. <br>
            <br>
            <b>Annual Fees for Domain Name Registration, Private Whois and SSL Certificates</b><br>
            Certain services such as Domain Name registration, Private Whois and SSL  Certificates are on an annual billing cycle which can be out-of-sync  with the Service Fee anniversary date. The customer is responsible for  logging into their control panel and renewing these services manually.  SmarterASP.net will e-mail reminder notices to the customer regarding the  renewal of these services. Customer understands that Domain Name  Registration fees, Private Whois fees, and SSL certificate fees and any  other like annual service fees are non-refundable. <br>
            <br>
            <b>New Domain Name Registration</b><br>
            Under this TOS, the Customer has the option, through the Order Form or  as part of service activation within the Control Panel, to request  SmarterASP.net to register a new domain name on behalf of the Customer.  Customer understands and acknowledges that SmarterASP.net is not a Domain  Registrar and that SmarterASP.net will register new domain names through a  Domain Registrar partner selected by SmarterASP.net . Customer understands that  the domain registration process requires SmarterASP.net to pass Customer  Information to the Domain Registrar partner and such information may  become public information. SmarterASP.net will not be responsible if a domain  name is not available for any reason. SmarterASP.net will not be responsible  for any infringement of any third party rights caused by its domain  registration on behalf of Customer. For such new domain name  registrations, Customer shall comply with the then current Domain Name  Terms and Conditions posted at our current domain registrar partner's  website at <a href="http://www.opensrs.com/resources/contracts/exhibita.htm" target="_blank" rel="noopener nofollow">http://www.opensrs.com/resources/contracts/exhibita.htm</a>, ICANN Uniform Domain Name Dispute Resolution Policy posted at <a href="http://www.icann.org/dndr/udrp/policy.htm" target="_blank">http://www.icann.org/dndr/udrp/policy.htm</a>, and Registrant Rights and Responsibilities Under the 2009 Registrar Accreditation Agreement posted at <a href="http://www.icann.org/en/registrars/registrant-rights-responsibilities-en.htm" target="_blank">http://www.icann.org/en/registrars/registrant-rights-responsibilities-en.htm</a>. <br>
            <br>
            <b>Service Credits</b><br>
            Should any service credits be issued to the Customer account, they will  be used to offset hosting fees assessed in the future. Service credits  are not cashable and cannot be transferred to other accounts. <br>
            <br>
            <b>Fraud Prevention</b><br>
            SmarterASP.net  uses various technologies to screen orders for fraud prevention.  Each order for new Service is subject to our fraud prevention  screening. SmarterASP.net is not obligated to provide Service to Customer until  Customers comply with all fraud prevention program requests. Any  unfulfilled requests may result in account suspension and/or account  cancellation. Customers may still be responsible for any Third Party  Service that they may subscribe to. SmarterASP.net is not responsible, and  Customer agrees to hold SmarterASP.net harmless from, any liability or damage  that Customer or any third party may sustain, should Customer fail to  meet the criteria of the fraud prevention controls. <br>
            <br>
            <b>Cancellation</b><br>
            If Customer wishes to cancel Service for any reason, the Customer must log into their Control Panel at <a href="https://member.SmarterASP.net " target="_blank">https://cp.SmarterASP.net </a> and click 'support' icon to submit a cancellation request to our accounting.  Cancellations are effective once our accounting department process it(Cancellation Date). For security and privacy, all customer files, data,  and e-mail remaining on SmarterASP.net servers after the cancellation date  will be destroyed and unrecoverable for security and privacy reasons. It  is the Customer's responsibility to backup their files and data and  download their e-mail prior to requesting Cancellation. SmarterASP.net is not  responsible, and Customer agrees to hold SmarterASP.net harmless from, any  liability or damage that Customer or any third party may sustain, should  customer files and data be destroyed after site cancellation. <br>
            <br>
            <b>Transferring Away Domain Names</b><br>
            Abiding by Domain Registrar policies, you are free to move domains that  were registered through SmarterASP.net to other domain registrars. A domain  name unlock tool is made available in the control panel. The customer  understands that unlocking a domain from our control panel is an  irreversible action. Once you unlock a domain, SmarterASP.net will not renew  the domain and, if you wish to keep this domain active, you must move  the domain to another domain registrar of your choice. <br>
            <br>
            <b>Refunds and Disputes</b><br>
            SmarterASP.net gives out pro-rated refunds for any un-use service except SSL Certificates and Domain Name purchases and transfers. Customers seeking to resolve any billing errors are required to open a billing ticket through the  Support Portal at <a href="https://helpdesk.SmarterASP.net " target="_blank">https://helpdesk.SmarterASP.net </a>.  The Customer agrees not to issue chargebacks for any credit card  payments. A chargeback of payment for services rendered will result in  an additional charge of $150. <br>
            <br>
            <b>Non-Payment</b><br>
            All payments are due in full on the anniversary date. Failure to remit  payment for services on the anniversary date is a violation of this TOS.  Failure to remit payment for ten (10) consecutive days, including the  anniversary date, shall result in a suspension of public access to  Customer services. Failure to remit payment for services within  twenty-five (25) consecutive days, including the anniversary date, shall  result in termination of access to the service network and all services  shall be reclaimed. All Customer files and data remaining after  twenty-five (25) days of non-payment will be destroyed and unrecoverable  for security and privacy reasons. <br>
            <br>
            <b>CPU Usage</b><br>
            Customer agrees that they will not use excessive amounts of CPU  processing on any of SmarterASP.net's servers. Any violation of this policy may  result in remedy action by SmarterASP.net , which may be taken in SmarterASP.net's  sole discretion with or without notice <br>
            <br>
            <b>Bandwidth and Disk Space Usage and File Count Limit and IIS Entry Limit</b><br>
            Customer agrees that bandwidth and disk space usage and file count limit shall not exceed the number of megabytes per month ordered by Customer. SmarterASP.net will monitor Customer's bandwidth and disk space usage and file count limit. SmarterASP.net shall have the right  to take remedy action if Customer's bandwidth or disk space usage or file count limit exceeds the Agreed Usage. For your convenience, a Resource Usage meter is provided in the Control Panel. Basic shared hosting plan file count limit is 50,000 files/folders. Advance shared hosting plan file count limit is 100,000 files/folders. Premium shared hosting plan file count is 200,000 files/folders. Semi Basic hosting plan file count limit is 200,000 files/folders. Semi Advance hosting plan file count limit is 300,000 files/folders. Semi Premium hosting plan file count limit is 500,000 files/folders. Reseller plan file count limit is 1,000,000 files/folders for sum of all sub-accounts and a maximum of 100,000 files/folders per sub-accounts.<br>Each individual hosting account shell not exceed the limit of 99 IIS Entries.
            <br><br>
            <b>System and Network Security</b><br>
            Customer is prohibited from violating or attempting to violate or  circumvent the security of the SmarterASP.net Network. Violations of system or  network security will result in civil or criminal liability. SmarterASP.net will investigate any such violations and will cooperate with law  enforcement authorities in prosecuting any Customer who is involved in  such violations. <br>
            <br>
            <b>Customer's Data and Backups</b><br>
            Customers are responsible for backing up all of their data.  SmarterASP.net will not be responsible if there are any data losts for any reasons.  For Shared and Semi Dedicated hosting plan, SmarterASP.NET do provide daily backups, however, we do not guranteed it.  VPS and Dedicated Plan customers are responsible for making their own backups. We do not make backups for VPS and Dedicated Plans.  The following files type will not be backup *.pdf *.bak *.sql *.zip *.rar *.mov *.avi *.tar *.gzip *.gz *.mp3 *.mgp *.wma *.wmv *.avi *.wav *.log *.peg *.mp4 *.iso *.psd *.swf *.mpg *.tmp *.tmp.*.<br>
            <br>
            <b>Customer Content</b><br>
            Customer Content will include content uploaded to, submitted to, stored  on or distributed by Customer via SmarterASP.net Services. Customer Content  also includes content of users of Customer's website and materials as  well as content provided by third parties. Customer will be solely  responsible for the development, operation, and maintenance of Customer  Content. <br>
            <br>
            <b>Remedy Action</b><br>
            SmarterASP.net may take remedy action with or without notice, which may result  in the following: a) removal of all or a portion of the Customer  Content, b) disconnection or discontinuance of any and all Services, or  c) termination of this Agreement in the event of i) violation of our  AUP, ii) notice of violation by Customer of this TOS, iii) non-payment,  or iv) chargeback. Customer agrees that SmarterASP.net will have no liability  to Customer due to any Remedy Action that we may take. Customer also  agrees that SmarterASP.net will not provide any refunds of any fees paid by  Customer prior to Remedy Action. In the event of Remedy Action against  Spamming Activities or Internet Abuse, SmarterASP.net will charge the customer a  $500.00 clean up fee. <br>
            <br>
            <b>Termination for Violation</b><br>
            We reserve the right to immediately suspend the Service and/or terminate  this TOS: (i) for a violation of any of our policies, including those  incorporated by reference; and/or (ii) your failure to pay any amounts  due. This right of termination is without prejudice to any other rights  we may have. You are not entitled to any type of notice or protest  should we decide to exercise these rights, nor will you receive a refund  of any Fees. <br>
            <br>
            <b>Use of the Services</b><br>
            Your use of the Services must be reasonable and you may not place  excessive burdens on our servers or other resources. You agree that we  may place restrictions on your use of the Service, and charge you excess  fees, to the extent that they exceed the use of the Service of  similarly situated customers. You understand that disk space, bandwidth,  connection speeds and other similar indices of capacity are maximum  numbers. Reaching these capacity numbers on a regular basis may result  our need to place restrictions on your use of the Service. <br>
            <br>
            Websites that's not allowed to be hosted in our system:  Adult Site, Mass Media Sharing Site, Mass File Sharing Site, Mass File Download Sites, Large number of Media Files per site (such as Flash and Videos), Large number of Images per site.  Using our hosting service for  online File Storage or Backups will also violate our Terms of Use.
            <br><br>
            Each shared hosting account can only be used by a maximum of 10 different companies. If you are looking to resell our service, you're required to signup for our 'Reseller Plan' listed on our site.
            <br><br>
            When an Account is terminated or cancelled, all files and data will be  destroyed and unrecoverable for security and privacy reasons. SmarterASP.net has no responsibility to forward e-mail, or other communications, for  you once your Account is closed and you will no longer have access to  the control panel. You are encouraged to keep the Service active during a  transition period should you seek to forward your e-mail or other  communications. <br>
            <br>
            <b>Customer Representations and Warranties</b><br>
            Customer represents and warrants to SmarterASP.net that during the Term that  Customer owns, has a valid license, or has the right to use the Customer  Content, including all text, graphics, and code, and the use,  reproduction, distribution and transmission of the Customer Content and  any information and materials contained therein does not, and will not,  (i) infringe any copyright, trademark, or any other proprietary right of  a third party, (ii) violate any criminal laws and will only be used for  lawful purposes, (iii) constitute false advertising, defamation, an  invasion of privacy, violate a right of publicity or violate any other  law or regulation, or (iv) contain and will at all times remain free of  computer viruses, trojan horses, worms, and other malicious code. <br>
            <br>
            You represent and warrant to SmarterASP.net that: (i) you have the knowledge  necessary to use the Service; (ii) you understand and appreciate the  risks inherent from accessing the Internet; (iii) you will use the  Service without extra effort on our part; and (iv) that you will pass  through the terms of our Acceptable Use Policy to End Users. <br>
            <br>
            License to SmarterASP.net Customer grants SmarterASP.net a royalty-free, non-exclusive, worldwide right  and license to reproduce, copy, use and distribute Customer Content and  to make archival or backup copies of the Customer Content solely to  provide and operate the Services. SmarterASP.net acknowledges that they are not  acquiring any right, title or interest in or to the Customer Content,  all of which shall remain solely with the Customer. <br>
            <br>
            <b>SmarterASP.net  Intellectual Property</b><br>
            SmarterASP.net  grants to Customer a non-exclusive, non-transferable,  royalty-free license, during the term of this Agreement, to use SmarterASP.net Technology solely for the purpose of accessing and using the Services.  Customer may not use the SmarterASP.net Technology for any purpose other than  accessing and using the Services. Except for the rights expressly  granted herein, this Agreement does not transfer from SmarterASP.net to  Customer any SmarterASP.net Technology, and all rights, titles and interests in  and to the SmarterASP.net Technology shall remain solely with SmarterASP.net .  Customer shall not, directly or indirectly, reverse engineer, decompile,  disassemble, or otherwise attempt to derive source code or other trade  secrets from any of the SmarterASP.net Technology. SmarterASP.net's trademarks,  tradenames, service marks, logos, other names and marks, and related  product and service names, design marks and slogans are the sole and  exclusive property of SmarterASP.net . Customer may not use any of the foregoing  in any advertising, publicity or in any other commercial manner without  the prior written consent of SmarterASP.net . <br>
            <br>
            <b>Independent Contractor</b><br>
            SmarterASP.net  and Customer are independent contractors. Nothing contained in  the TOS places SmarterASP.net and Customer in the relationship of principal,  agent, partner or joint ventures. Neither party may represent itself as  having any authority to make contracts or enter into any agreements in  the name of the other party. <br>
            <br>
            <b>Feedback</b><br>
            Any feedback, data, answers, questions, comments, suggestions, idea or  the like which Customer sends to SmarterASP.net relating to the Services will  be treated as being non-confidential and non-proprietary. SmarterASP.net may  use, disclose or publish any ideas, concepts, know-how or techniques  contained in such information for any purpose whatsoever. <br>
            <br>
            <b>Hardware and Software</b><br>
            You are responsible for and must provide all Internet connectivity  services, computers, software, hardware, and other services necessary to  access SmarterASP.net servers and Services. SmarterASP.net makes no representations,  warranties, or assurances that customer's equipment will be compatible  with SmarterASP.net Services. <br>
            <br>
            <b>Governing Law and Jurisdiction</b><br>
            This Agreement shall be governed in all respects by California law  without regard to the conflict of law provisions thereof. Both parties  submit to personal jurisdiction in California. The terms of this section  shall survive any termination of this Agreement. <br>
            <br>
            <b>Government Regulations</b><br>
            Customer may not export, re-export, transfer or make available, whether  directly or indirectly, any regulated items or information to anyone  outside the United States in connection with this TOS without first  complying with all export control laws and regulations which may be  imposed by the United States government and any country or organization  of nations within whose jurisdiction Customer operates or does business. <br>
            <br>
            <b>Mutual Indemnification</b><br>
            Each party agrees to indemnify and hold harmless the other party, the  other party's affiliates, and each of their respective officers,  directors, agents, attorneys, and employees from and against any and all  claims, demands, obligations, liabilities, damages, losses, penalties,  fines, punitive damages, amounts in interest, expenses and disbursements  of any kind and nature whatsoever (including reasonable attorneys'  fees) brought by a third party under any theory of legal liability  arising out of or related to the indemnifying party's actual or alleged  infringement or misappropriation of a third party's copyright, trade  secret, patent, trademark, or other proprietary right. <br>
            <br>
            <b>Disclaimer of Warranty</b><br>
            Customer agrees to use all Services and any information obtained through  or from SmarterASP.net , at Customer's own risk. Customer acknowledges and  agrees that SmarterASP.net exercises no control over, and accepts no  responsibility for, the content of the information passing through  SmarterASP.net's host computers, network, or the Internet. THE SERVICES ARE  PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS. NONE OF SmarterASP.net , ITS PARENT,  SUBSIDIARY OR AFFILIATED CORPORATIONS, OR ANY OF THEIR RESPECTIVE  EMPLOYEES, OFFICERS, SHAREHOLDERS, DIRECTORS, AFFILIATES, AGENTS,  SUPPLIERS, THIRD-PARTY INFORMATION PROVIDERS, LICENSORS OR THE LIKE  ("SmarterASP.net PERSON") MAKE ANY WARRANTIES OF ANY KIND, EITHER EXPRESSED OR  IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY OR  FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, FOR THE SERVICES  OR ANY EQUIPMENT SmarterASP.net PROVIDES. NO SmarterASP.net PERSON MAKES ANY  WARRANTIES THAT THE SERVICES WILL NOT BE INTERRUPTED OR ERROR FREE; NOR  DO THEY MAKE ANY WARRANTIES AS TO THE RESULTS THAT MAY BE OBTAINED FROM  THE USE OF THE SERVICES OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF  ANY INFORMATION, SERVICES OR MERCHANDISE CONTAINED IN OR PROVIDED  THROUGH THE SERVICES. SmarterASP.net IS NOT LIABLE, AND EXPRESSLY DISCLAIMS ANY  LIABILITY, FOR THE CONTENT OF ANY DATA TRANSFERRED EITHER TO OR FROM  CUSTOMER OR STORED BY CUSTOMER OR ANY OF CUSTOMER'S USERS VIA THE  SERVICES PROVIDED BY SmarterASP.net . NO ADVICE OR WRITTEN INFORMATION GIVEN BY  ANY SmarterASP.net PERSON, WILL CREATE A WARRANTY; NOR MAY YOU RELY ON ANY SUCH  INFORMATION OR ADVICE. The terms of this section shall survive any  termination of this Agreement. <br>
            <br>
            <b>Limitation of Liability</b><br>
            Customer agrees that no SmarterASP.net Person, under any circumstances, shall  be held responsible or liable for situations where the Services are  accessed by third parties through illegal or illicit means, including  situations where such data is accessed through the exploitation of  security gaps, weaknesses or flaws (whether known or unknown to SmarterASP.net at the time) which may exist in the Services or SmarterASP.net's equipment used  to provide the Services. <br>
            <br>
            Under no circumstances, including negligence, shall any SmarterASP.net Person  be liable for any indirect, incidental, special, consequential or  punitive damages, or loss of profits, revenue, data or use by Customer,  any of its users, or any other third party, whether in an action in  contract or tort or strict liability or other legal theory, even if  SmarterASP.net has been advised of the possibility of such damages. <br>
            <br>
            No SmarterASP.net  Person shall be liable to Customer, any of its users, or any  other third party, for any loss or damages that result or are alleged to  have resulted from the use of or inability to use the Services, or that  results from mistakes, omissions, interruptions, deletion of files,  loss of data, errors, viruses, defects, delays in operations, or  transmission or any failure of performance, whether or not limited to  acts of God, communications failure, theft, destruction or unauthorized  access to SmarterASP.net's records, programs, equipment, or services. <br>
            <br>
            IN NO EVENT WILL SmarterASP.net's LIABILITY IN CONNECTION WITH THE SERVICES,  ANY SOFTWARE PROVIDED HEREUNDER OR ANY ORDER, WHETHER CAUSED BY FAILURE  TO DELIVER, NON-PERFORMANCE, DEFECTS, BREACH OF WARRANTY OR OTHERWISE,  EXCEED THE AGGREGATE ACTUAL SERVICE FEES PAID TO SmarterASP.net BY CUSTOMER  DURING THE 12 MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE  TO SUCH LIABILITY. <br>
            <br>
            SmarterASP.net  CANNOT GUARANTEE CONTINUOUS SERVICE, SERVICE AT ANY PARTICULAR  TIME, INTEGRITY OF DATA, INFORMATION OR CONTENT STORED OR TRANSMITTED  VIA THE INTERNET. SmarterASP.net WILL NOT BE LIABLE FOR ANY UNAUTHORIZED ACCESS  TO, OR ANY CORRUPTION, ERASURE, THEFT, DESTRUCTION, ALTERATION OR  INADVERTENT DISCLOSURE OF, DATA, INFORMATION OR CONTENT TRANSMITTED,  RECEIVED OR STORED ON ITS SYSTEM. <br>
            <br>
            Customer understands, acknowledges and agrees that if SmarterASP.net takes any  remedy action under this Agreement because of an action of Customer or  its website users, Customer agrees that SmarterASP.net shall have no liability  to Customer due to such remedy action by SmarterASP.net . <br>
            <br>
            The terms of this section shall survive any termination of this Agreement. <br>
            <br>
            <b>Force Majeure</b><br>
            Neither party is liable for any default or delay in the performance of  any of its obligations under this Agreement (other than failure to make  payments when due) if such default or delay is caused, directly or  indirectly, by forces beyond such party's reasonable control, including,  without limitation, fire, flood, acts of God, labor disputes,  accidents, acts of war or terrorism, acts of government or other legal  order, interruptions of transportation or communications, supply  shortages or the failure of any third party to perform any commitment  relative to the production or delivery of any equipment or material  required for such party to perform its obligations hereunder. <br>
            <br>
            <b>Reciprocal</b><br>
            We each warrant to the other that: (i) we have the power, authority and  legal right to enter into this TOS; and (ii) we have the power,  authority and legal right to perform our obligations under this TOS and  all incorporated provisions. <br>
            <br>
            <b>Assignment</b><br>
            This TOS may be assigned by SmarterASP.net . It may not be assigned by you. This  TOS shall bind and inure to the benefit of the corporate successors and  permitted assigns of the parties. <br>
            <br>
            <b>No Waiver</b><br>
            No waiver of rights under this TOS, or any other SmarterASP.net policy shall  constitute a subsequent waiver of this or any other right under this  TOS. <br>
            <br>
            <b>Entire Agreement and Severability</b><br>
            This Agreement represents the entire agreement between the parties, and  supersedes all previous agreements. All rights and restrictions  contained in the Agreement may be exercised and shall be applicable and  binding only to the extent that they do not violate any applicable laws  and are intended to be limited to the extent necessary so that they will  not render this Agreement illegal, invalid or unenforceable. If any  provision or portion of any provision of this Agreement shall be held to  be illegal, invalid or unenforceable by a court of competent  jurisdiction, it is the intention of the parties that the remaining  provisions or portions thereof shall constitute their agreement with  respect to the subject matter hereof, and all such remaining provisions  or portions thereof shall remain in full force and effect. Customer  hereby represents that they are either, an individual entering this  Agreement for their personal use and is of legal age to execute this  Agreement, or a corporation, limited partnership or other legal entity,  validly existing under the laws of the state of its organization and the  person acting on behalf of Customer is authorized to execute this  Agreement on behalf of Customer.
            <br><br>
            Last updated May 21st, 2019.
        </div>
    </div>
</section>

@code {

}
