@page "/registerconfirmation"


<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Register Confirmation</h2>
    </div> <!-- container //  -->
</section>

<section class="section-content padding-y">
    <div class="container">

        <p>
            Please check your email to confirm your account.
        </p>


    </div>
</section>




@code {

}
